<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">  
    <link rel="stylesheet" href="./static/output.css">
    <title>Real-time Data Visualization</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.8.0/chart.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@^3"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js/dist/chart.min.js"></script>
    
    <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns/dist/chartjs-adapter-date-fns.bundle.min.js"></script>
    <script src="./static/main.js" defer></script>
<style>
    body {
        background-image: url('./static/9.png');
        background-size: 150%;
        background-position: top;
    }
</style>
    </head>
<body class="bg-olive">
    <div class="py-12">
        <div class="py-12">
            <div class="grid grid-cols-5 gap-8 px-32 flex">
                <div class="col-span-4 text-4xl font-bold text-white font-jetbrains">
                    <div>
                        PETRICHOR FOUNDRY 
                    </div>
                </div>
                
            </div>
        </div>
        <div class="grid grid-cols-5 gap-8 px-32">
            <!-- Column 3 -->
            <div class="col-span-4">
                <div class="bg-zinc-950/70 rounded p-8 shadow-2xl border border-white backdrop-blur-[2px]" id="referenceColumn" can-move>
                    <div class="font-bold text-white font-jetbrains">MONITOR</div>
                    <canvas class="border border-white font-jetbrains mt-4 py-3 px-4" id="dataChart" width="800" height="450"></canvas>
                </div>
            </div>
        
            <!-- Column 7 -->
            <div class="col-span-1 flex-1 flex flex-col" id="targetColumn">
                <div class="bg-zinc-950/70 rounded py-3 px-4 shadow-2xl border border-white flex-0 backdrop-blur-[2px]" can-move id="control">
                    <div class="text-white font-bold pt-0.5 font-jetbrains">CONTROL</div>
                    <div class="text-white">
                        <div class="flex flex-row">
                            <div class="flex-0 pr-6">
                                <div class="pt-2 font-jetbrains text-zinc-300 text-xs">LOGGING</div>
                                <div class="flex space-x-2">
                                    <button class="flex-0 px-1 bg-zinc-500/40 hover:bg-zinc-600/40 font-jetbrains text-zinc-200 hover:text-zinc-500 rounded-[0.5px] text-sm" id="startButton">START</button>
                                </div>
                                    </div>
                            <div class="flex-0 pl-1.5">
                                <div class="pt-2 font-jetbrains text-zinc-300 text-xs">HISTORICAL</div>
                                <div class="flex space-x-2">
                                    <button class="flex-0 px-1 bg-zinc-500/40 hover:bg-zinc-600/40 font-jetbrains text-zinc-200 hover:text-zinc-500 rounded-[0.5px] text-sm" style="cursor: not-allowed;" id="">LOAD CSV</button>
                                    <input type="file" id="fileInput" class="file-input" accept=".csv" onchange="uploadFile()" required>
                                </div>
                            </div>
                        </div>
                    
                     
                        <div class="py-2 flex flex-row">
                            <div class="flex-0 pr-6">
                                <div class="flex-0 flex flex-row items-center pt-2"><div class="font-jetbrains text-zinc-300 text-xs">POWER</div><div class="flex-0 pl-1"><div class="px-1 flex-0 w-2 h-2 bg-[#FF0808] rounded-full"></div></div></div>
                                <div class="mb-1">
                                    <div class="relative flex max-w-[8rem] ">
                                        <button type="button" id="power-decrement-button" data-input-counter-decrement="quantity-input" class="text-zinc-200 hover:text-zinc-500 rounded-tl-[0.5px] rounded-bl-[0.5px] bg-zinc-500/40 hover:bg-zinc-600/40 px-1 h-5">
                                            <svg class="w-2 h-2 " aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 2">
                                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1h16"/>
                                            </svg>
                                        </button>
                                        <div id="power-display" class="bg-zinc-800/40  h-5 text-center text-zinc-200 text-sm font-jetbrains w-6 pb-2 font-white">1</div>
                                        <button type="button" id="power-increment-button" data-input-counter-increment="quantity-input" class="text-zinc-200 hover:text-zinc-500 rounded-tr-[0.5px] rounded-br-[0.5px] bg-zinc-500/40 hover:bg-zinc-600/40 px-1 h-5">
                                            <svg class="w-2 h-2 " aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 18">
                                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 1v16M1 9h16"/>
                                            </svg>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="flex-0 ">
                                <div class="flex flex-row items-center pt-2"><div class="font-jetbrains text-zinc-300 text-xs">FAN</div><div class="flex-1 pl-1"><div class="px-1 flex-0 w-2 h-2 bg-[#0400f5] rounded-full"></div></div></div>
                            <div class="mb-1">
                                <div class="relative flex items-center max-w-[8rem]  ">
                                    <button type="button" id="fan-decrement-button" data-input-counter-decrement="quantity-input" class="text-zinc-200 hover:text-zinc-500 rounded-tl-[0.5px] rounded-bl-[0.5px] bg-zinc-500/40 hover:bg-zinc-600/40 px-1 h-5">
                                        <svg class="w-2 h-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 2">
                                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1h16"/>
                                        </svg>
                                    </button>
                                    <div id="fan-display" class="bg-zinc-800/40  h-5 text-center text-zinc-200 text-sm font-jetbrains w-6 pb-2 font-white"">1</div>
                                    <button type="button" id="fan-increment-button" data-input-counter-increment="quantity-input" class="text-zinc-200 hover:text-zinc-500 rounded-tr-[0.5px] rounded-br-[0.5px] bg-zinc-500/40 hover:bg-zinc-600/40 px-1 h-5">
                                        <svg class="w-2 h-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 18">
                                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 1v16M1 9h16"/>
                                        </svg>
                                    </button>
                                </div>
                                
                            </div>
                            </div>

                        </div>
                        <div class="py-2 flex flex-row">
                            <div class="flex-0 pr-6">
                                <div class="font-jetbrains text-zinc-300 text-xs">CRACK</div>
                                <div class="flex space-x-2">
                                    <button class="flex-0 px-1 bg-zinc-500/40 hover:bg-zinc-600/40 font-jetbrains text-zinc-200 hover:text-zinc-500 rounded-[0.5px] text-sm" id="first-crack">FIRST</button>
                                </div>
                            </div>
                            <div class="flex-0 pl-1.5">
                                <div class="font-jetbrains text-zinc-300 text-xs">CRACK</div>
                                <div class="flex space-x-2">
                                    <button class="flex-0 px-1 bg-zinc-500/40 hover:bg-zinc-600/40 font-jetbrains text-zinc-200 hover:text-zinc-500 rounded-[0.5px] text-sm" id="second-crack">SECOND</button>
                                </div>
                                
                                
                           
                            </div>

                        </div>
                       
                    </div>
                        
                </div>
                
                <div class="bg-zinc-950/70 rounded py-3 px-4 shadow-2xl border border-white flex-0 backdrop-blur-[2px] mt-8" can-move id="stopwatch">
                    <div class="text-white font-bold pt-0.5 font-jetbrains">STOPWATCH</div>
                    <div class="flex-1">
                        <div class="flex-1 flex flex-row items-center pt-2"><div class="font-jetbrains text-xs text-zinc-300">ROAST</div><div class="flex-1 pl-1"><div class="px-1 flex-0 w-2 h-2 bg-[#ff4f00] rounded-full"></div></div></div>
                        <div id="stopwatch_data" class="text-white text-4xl font-jetbrains bg-zinc-800/80 text-zinc-200 w-fit py-0.5 px-1">00:00</div>
                    </div>
                    <div class="flex">
                        
                        <div class="flex-1">
                            <div class="flex-1 flex flex-row items-center pt-2"><div class="font-jetbrains text-xs text-zinc-300">POWER</div><div class="flex-1 pl-1"><div class="px-1 flex-0 w-2 h-2 bg-[#FF0808] rounded-full"></div></div></div>
                            <div id="power_stopwatch_data" class="text-white text-md font-jetbrains bg-zinc-800/80 text-zinc-200 w-fit py-0.5 px-1">00:00</div>
                        </div>
                        <div class="flex-1">
                            <div class="flex flex-row items-center pt-2"><div class="font-jetbrains text-xs text-zinc-300">FAN</div><div class="flex-1 pl-1"><div class="px-1 flex-0 w-2 h-2 bg-[#0400f5] rounded-full"></div></div></div>
                            <div id="fan_stopwatch_data" class="text-white text-md font-jetbrains bg-zinc-800/80 text-zinc-200 w-fit py-0.5 px-1">00:00</div>
                    
                        </div>


                    </div>
                </div>
                <div class="bg-zinc-950/70 rounded mt-8 py-3 px-4 shadow-2xl border border-white flex-1 backdrop-blur-[2px] z-10 overflow-auto" can-move id="telemetrydiv">
                    <div class="text-white font-bold pt-0.5 pb-1 font-jetbrains">TELEMETRY</div>
                    <table id="telemetry" class="border border-slate-300 text-white font-jetbrains text-[8px] overflow-hidden pb-1 z-[-1] w-full table-fixed">
                       
                        <tr class="">
                        <th>TIME</th>
                        <th>TEMP</th>
                        <th>POWER</th>
                        <th>FAN</th>
                        <th>C1</th>
                        <th>C2</th>
                      </tr>
               
                    </table>

                  
                    
                </div>
            </div>
            
        </div>
        
        </div>
        
    </div>
    <div class="cursor-not-allowed"></div>
</body>
<script type="module">
    import "https://unpkg.com/playhtml@latest";
    playhtml.init();
</script>
</html>
